                         /*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
                         /*RESET CSS*/

@font-face {
	font-family: Raleway;
	src: url ("C:\Users\axiau\Desktop\P2_DIEBOLD_RACHEL\Raleway\static");
}

body
{
    font-family:'Raleway Regular', sans-serif;
    width: 100%;
}

p
{
	font-family: 'Raleway Medium', sans-serif;
	font-size: 14px;
	color: #000000;
}

h1
{
	font-family: 'Raleway ExtraBold', sans-serif;
	font-size: 18px;
	color: #000000;
}

h2
{
	font-family: 'Raleway ExtraBold', sans-serif;
	font-size:14px;
	color: #000000;
}

h3
{
	font-family: 'Raleway ExtraBold', sans-serif;
	font-size:13px;
	color: #000000;
}

h4
{
	font-family: 'Raleway Regular', sans-serif;
	font-size:13px;
	color: #000000;
}


.container
{
	max-width: 1450px;
	margin: auto;
	display: flex;
	flex-direction: column;

}

                                                   /*HEADER*/
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px; 
/*Y A T IL UNE AUTRE METHODE POUR CREER DES ESPACES
PLUTOT QUE DE METTRE UNE HAUTEUR ?*/
}

nav
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 500px;
	font-family: 'Raleway Medium';
}

nav ul
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	width:50%;
	order: 0;
}

.barreG a, .barreD a
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	padding-top: 25px;
	/* Y A T IL UNE AUTRE METHODE POUR CREER DE L ESPACE
	ENTRE LE MOT ET SON BORDER ?*/ 
}

.barreG a:hover, .barreD a:hover
{
    color: #0065FC;
    border-top: 2px solid;
}

#inscription
{
	display: flex;
	justify-content: flex-end;
	width: 25%;
}

#inscription a
{	
	font-family: 'Raleway Medium';
	font-size: 14px;
	color: #0065FC;
	font-weight: bold;
	text-decoration: none;
	padding-top: 25px;
}

#inscription a:hover
{
	color: #000000;
	font-weight: bold;
	border-top: 2px solid black;
}

                                            /*SECTION RECHERCHE*/
.searchwrapper
{
	display: flex;
	flex-direction: column;
}

.titre
{
	display: flex;
	flex-direction: column;
	height:50px;
} 

.titre h1,.titre p
{
	height:50%;
	display: flex;
	align-items: flex-end;
}

#search
{
	display: flex;
	height: 60px;
	align-items: flex-end;
}

#searchicon
{
	display: none;
}

#marker i
{
	font-size: 16px;
	display: flex;
	width: 50px;
	height: 40px;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;	
	align-items: center;
	justify-content: space-around;
}

#search input
{
	display: flex;
	background-color: #ffffff;
	width: 150px;
	height: 40px;
	align-items: center;
	justify-content: space-around;
	border : 2px #F2F2F2 solid;
	font-size: 12px;
	font-family: 'Raleway ExtraBold', sans-serif;
}

#search h4
{
	display: flex;
	color: #ffffff;
	width: 100px;
	height: 40px;
	font-weight: bold;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

                                               /*FILTRE*/
.filterwrapper
{
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
    max-width: 800px;
    height: 120px;
}

#titre
{
	display: flex;
}

#filter
{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
	align-content: flex-end;
	width: 100%;
}

#filter i
{
	display: flex;
	align-items: center;
	color: #0065FC;
	background-color: #DEEBff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	justify-content: space-around;
	position:absolute;
	z-index: 2;
}

#filter i:hover
{
	color: #0065FC;
	background-color: #ffffff;
	border: 1px #0065FC dashed;
	cursor: pointer;
	transform: rotate(0deg) translateX(10px);
}

#filter h3
{
	display: flex;
	align-items: center; 
	width: 100%;
	height: 40px;
	padding: 0px 15px 0px 50px; /* Y A T  IL UNE AUTRE METHODE
	POUR CREER DE L ESPACE ENTRE L ICONE ET LE MOT DU FILTRE ?*/
	background-color: #ffffff;
	border-radius: 150px 150px 150px 150px;
	border : 3px #F2F2F2 solid;
	position: relative;
	z-index: 1;
}

.money, .child, .heart, .dog
{
	display: flex;
	align-items: center;
}
                                               /*INFO*/
#info
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
}

#info i
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
	color: #0065FC;
	background-color: #ffffff;
	border: 1px #F2F2F2 solid;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin:5px;/*AUTRE METHODE POUR CREER DE L ESPACE 
	             ENTRE L ICONE ET LE P ?*/
}

                                               /*HEBERGEMENT*/
#global
{
	display: inline-flex;
	width: 100%;
	height: 600px;
	justify-content: space-between;
}

#accomodation
{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
	width: 65%;
	background-color: #F2F2F2;
	border-radius: 15px;
}

#accomodation a
{
	text-decoration: none;
}

#box1
{
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#box8
{
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#accomodation figure
{
	background-color: #ffffff;
	border: 5px #ffffff solid;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 10px 5px 0px #e0e0e0;
	width: 230px;
}

#accomodation figure:hover
{
	opacity: 0.8;
}

#accomodation i
{
	font-size: 12px;
	color: #0065FC;
}

.marge
{
	margin-left: 10px;
	line-height: 120%;
}

#accomodation figcaption
{
	display: flex;
	width: 210px;
	height: 70px;
	align-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	border-radius: 0px 0px 15px 15px;
}

#box2, #box3, #box4, #box5, #box6, #box7
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	flex-wrap: wrap;
	width: 250px;
	height: 180px;
}

#box2 img, #box3 img, #box4 img, #box5 img, #box6 img, #box7 img
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	width: 230px;
	height: 100px;
	background-color: #ffffff;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}

#box2 i:nth-child(7), #box4 i:nth-child(7), #box5 i:nth-child(7), #box6 i:nth-child(7), #box11 i:nth-child(8), #box12 i:nth-child(7)
{
	color: #F2F2F2;
}

#box5 i:nth-child(6)
{
	color: #F2F2F2;
}
                                    /*LES PLUS POPULAIRES*/
#popular
{
	width: 30%; 
	background-color: #F2F2F2;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#box9
{
    display: flex;
    flex-direction: row;
	width: 80%;
	height:10%;
	justify-content: space-between;
}

#box10, #box11, #box12
{
    display: flex;
    flex-direction: row;
	width: 80%;
	height: 25%;
	justify-content: space-between;
}

#popular figure
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
	background-color: #ffffff;
	border: 5px #ffffff solid;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 10px 5px 0px #e0e0e0
}

#popular figure:hover
{
	opacity: 0.8;
}

#popular img
{
	width: 100px;
	height: 120px;
	background-color: #ffffff;
	border-radius: 15px 0px 0px 15px;
	object-fit: cover;
}

#popular figcaption
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	width: 60%;
}

#popular a
{
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#box10 i, #box11 i, #box12 i
{
	display: inline-flex;
	flex-wrap: nowrap;
	font-size: 10px;
	align-content: space-around;
	color: #0065FC;
}

#box11 i:nth-child(5) , #box12 i:nth-child(5)
{
	color: #F2F2F2;
}

                                       /*RESPONSIVE portable*/

@media screen and (max-width: 680px)
{

	/*HEADER*/

	header
	{
		height: 150px;
		/*SI JE N APPLIQUE PAS UNE TAILLE SUPERIEURE,
		LA DIV "TITRE"  VA CHEVAUCHER L UL, AUTRE METHODE POSSIBLE ?*/
	}

	nav
	{
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		height: 100px;
	}

	header img
	{
		position: absolute;
	}

	#logo
	{
		display: flex;
		align-items: flex-end;
	}

	#inscription
	{
		width: 90%;
		/*SI JE LAISSE LA TAILLE A 100%,
		"S INSCRIRE" EST COLLE A L ECRAN*/
	}

	#inscription a:hover
    {
	    border-top: none;
    }

	nav ul
	{
	display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    order: 1;
    position: relative;
	}

	.barreG a:hover, .barreD a:hover
	{
		border-top: none;
	}

	.barreG, .barreD
	{
	    border-bottom: 3px solid #F2F2F2;
	    width: 50%;	
	}

	.barreG a, .barreD a
	{
		display: flex;
		justify-content: center;
		padding-bottom: 15px; /*autre solution ?*/
	}

	.barreG:hover, .barreD:hover
	{
		border-bottom: 3px solid #0065FC;
	}

	/*SECTION RECHERCHE*/

	#search 	/*JE NE PARVIENS PAS A RENDTRE CETTE PARTIE RESPONSIVE
	             ET A CALER CORRECTEMENT L INPUT ET L ICONE*/
	{
		display: flex;
		width: 100%;
	}

	#search input
	{
		border-right: none;
		border-left: none;
	}

	#search h4
	{
		display: none;
	}

	#searchicon
	{
		display: contents;
	}

	#searchicon i
	{
		display: inline-flex;
	    color: #ffffff;
	    width:45px;
	    height: 40px;
	    font-weight: bold;
	    background-color: #0065FC;
	    border-radius: 15px 15px;
	    align-items: center;
	    justify-content: space-around;
	    cursor: pointer;
	}

	#searchicon i:hover
	{
		color: #0065FC;
	    background-color: #ffffff;
	    border: 1px #0065FC solid;
	}

	/*FILTRE*/

	.filterwrapper /*COMMENT PUIS JE CREER DE L ESPACE ENTRE LES CELLULES
	LORSQU ELLES PASSENT SUR 2 LIGNES EN MODE RESPONSIVE ?*/
	{
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	#filter
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#titre
	{
		width: 100%;
		height: 25px;
		padding-top: 15px; /* AUTRE SOLUTION ? */
	}

	.money, .child, .heart, .dog
	{
		padding-bottom: 15px; /* AUTRE SOLUTION ? */
	}

	#info
	{
		display: flex;
		height: 100%;
		width: 100%;	
	}

	#global
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	#accomodation
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
        align-items: center;
        align-content: space-between;
		width: 100%;
		height: 100%;
		order:2;
	}

	#popular
	{
	    display: flex;
	    flex-flow: row wrap;
	    background-color: #F2F2F2;
	    width: 100%;
	    height: 100%;
	    border-radius: 0px;
	    order: 1;
	}
}


                         RESPONSIVE tablette/portable

@media screen and (max-width: 1024px)
{
   #global
   {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1500px;
	justify-content: space-between;
   }

   #accomodation
   {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    align-items: center;
    align-content: space-between;
	width: 65%;
	height: 800px;
	order: 1;
   }

   #popular
   {
   	width: 100%;
   	height: 40%;
   }
}