                         /*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
                         /*REGLES GENERALES*/

*{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body
{
    font-weight: 400;
    width: 100%;
}

p
{
	font-weight: 500;
	font-size: 0.9rem;
	color: #000000;
}

h1
{
	font-weight: 700;
	font-size: 1.1rem;
	color: #000000;
}

h2
{
	font-weight: 700;
	font-size:1rem;
	color: #000000;
}

h3
{
	font-weight: 700;
	font-size:0.9rem;
	color: #000000;
}

h4
{
	font-weight: 400;
	color: #000000;
}

                                          /*CONTAINER*/
#container
{
	max-width: 90rem;
	min-width: 27.5rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 0.8rem;

}

                                          /*HEADER*/
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/*menu navigation*/
nav
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 31.25rem;
}

nav ul
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	width:50%;
	order: 0;
}

.barreG a, .barreD a /*barre de survol*/
{
	font-weight: 400;
	font-size: 0.9rem;
	color: #000000;
	text-decoration: none;
	padding-top: 1.3rem;
}

.barreG a:hover, .barreD a:hover
{
    color: #0065FC;
    border-top: 0.125rem solid;
}

#inscription /*bouton s inscrire*/
{
	display: flex;
	justify-content: flex-end;
	width: 30%;
}

#inscription a
{	
	font-size: 0.9rem;
	color: #0065FC;
	font-weight: 700;
	text-decoration: none;
	padding-top: 1.563rem;
}

#inscription a:hover
{
	color: #000000;
	font-weight: 500;
	border-top: 0.125rem solid black;
}

                                          /*SECTION RECHERCHE*/
#searchwrapper /*container global*/
{
	display: flex;
	flex-direction: column;
	margin-top: 1.25rem;
}

#baseline /*titre*/
{
	display: flex;
	flex-direction: column;
	line-height: 150%;
} 

#search /*bouton recherche*/
{
	display: flex;
	align-items: flex-end;
	margin-top: 1.25rem;
}

#searchicon /*icone rechercher*/
{
	display: none;
}

#marker i /*icone position*/
{
	font-size: 1rem;
	display: flex;
	width: 3.125rem;
	height: 2.5rem;
	background-color: #F2F2F2;
	border-radius: 0.9rem 0rem 0rem 0.9rem;	
	align-items: center;
	justify-content: space-around;
}

#search input
{
	display: flex;
	background-color: #ffffff;
	width: 9.375rem;
	height: 2.5rem;
	align-items: center;
	justify-content: space-around;
	border : 0.125rem #F2F2F2 solid;
	font-size: 0.75rem;
	font-weight: 800;
}

#search h4 /*bouton rechercher*/
{
	display: flex;
	color: #ffffff;
	width: 6.25rem;
	height: 2.5rem;
	font-weight: 400;
	background-color: #0065FC;
	border-radius: 0rem 0.9rem 0.9rem 0rem;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

#search h4:hover
{
	background-color: #fff;
	color: #0065FC;
	border: 0.06rem solid #0065FC;
}

                                           /*FILTRE*/
#filterwrapper /*container global*/
{
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
    max-width: 50rem;
    height: 7.5rem;
}

#filter /*container filtres*/
{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
	align-content: flex-end;
	width: 100%;
}

#titre
{
	display: flex;
}

#money, #child, #heart, #dog /*filtres*/
{
	display: flex;
	align-items: center;
}

#filter i /*icones filtre*/
{
	display: flex;
	align-items: center;
	color: #0065FC;
	background-color: #DEEBff;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	justify-content: space-around;
	position:absolute;
	z-index: 2;
}

#filter i:hover
{
	color: #0065FC;
	background-color: #ffffff;
	border: 0.06rem #0065FC dashed;
	cursor: pointer;
}

#filter h3 /*nom des filtres*/
{
	display: flex;
	align-items: center; 
	width: 100%;
	height: 2.5rem;
	padding: 0rem 0.9rem 0rem 3.125rem;
	background-color: #ffffff;
	border-radius: 9.375rem 9.375rem 9.375rem 9.375rem;
	border : 0.19rem #F2F2F2 solid;
	position: relative;
	z-index: 1;
}

#filter h3:hover
{
	border : 0.06rem #0065FC solid;
	border-radius: 9.375rem 9.375rem 9.375rem 9.375rem;
}

/*div info*/
#info
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
}

#info i
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8rem;
	color: #0065FC;
	background-color: #ffffff;
	border: 0.06rem #F2F2F2 solid;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	margin:0.3rem;
}

                                            /*HEBERGEMENT*/
#global /*container global*/
{
	display: inline-flex;
	justify-content: space-between;
}

#accommodation /*container hebergement*/
{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
	max-width: 65%;
	background-color: #F2F2F2;
	border-radius: 0.9rem;
}

#accommodation a
{
	text-decoration: none;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	margin: 1.5rem;
}

#accommodation a:hover
{
	opacity: 0.8;
}

#box1 /*titre section*/
{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 0.7rem;
}

#box8 /*afficher plus*/
{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#box8 a
{
	text-decoration: none;
	background-color: transparent;
	border-radius: 0rem;
	box-shadow: none;
	margin: 0rem 0rem 0.9rem 0rem;
}

#box2, #box3, #box4, #box5, #box6, #box7 /*cartes*/
{
	width: 15rem;
	height: 10.5rem;
	border: 0.3rem #ffffff solid;
	border-radius: 0.9rem;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


#image1, #image2, #image3, #image4, #image5, #image6
{
	width: 100%;
	height: 60%;
	border-radius: 0.9rem 0.9rem 0rem 0rem;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


#image1
{
	background-image: url("./Images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#image2
{

	background-image: url("./Images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#image3
{

	background-image: url("./Images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#image4
{

	background-image: url("./Images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#image5
{

	background-image: url("./Images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#image6
{

	background-image: url("./Images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.legendleft /*legende cartes*/
{
	margin: 0.5rem 0rem 0rem 0.5rem;
}

.legendleft p
{
	margin-top: 0.3rem;
}

.stars
{
	margin-top: 0.4rem;
}

#box2 i, #box3 i, #box4 i, #box5 i, #box6 i, #box7 i
{
	display: inline-flex;
	flex-wrap: nowrap;
	font-size: 0.75rem;
	align-content: space-around;
	color: #0065FC;
}

#box2 i:nth-child(5), #box4 i:nth-child(5), #box5 i:nth-child(4), #box5 i:nth-child(5), #box6 i:nth-child(5), #box11 i:nth-child(8), #box12 i:nth-child(7)
{
	color: #F2F2F2;
}

                                    /*LES PLUS POPULAIRES*/
#popular /*container global*/
{
	max-width: 30%; 
	background-color: #F2F2F2;
	border-radius: 0.9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#box9 /*titre*/
{
    display: flex;
    flex-direction: row;
	width: 80%;
	justify-content: space-between;
	margin:1rem;
}

#box9 i
{
	font-size: 1.1rem;
}

#popular a /*lien cartes*/
{
	text-decoration: none;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	margin: 1rem 2rem;
}

#popular a:hover
{
	opacity: 0.8;
}


#box10, #box11, #box12 /*container cartes*/
{
	width: 18rem;
	height: 8rem;
	border: 0.3rem #ffffff solid;
	border-radius: 0.9rem;
	display: flex;
	flex-direction: row;
}

#image7, #image8, #image9
{
	width: 50%;
	height: 100%;
	border-radius: 0.9rem 0rem 0rem 0.9rem;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image7
{
	background-image: url("./Images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#image8
{
	background-image: url("./Images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#image9
{
	background-image: url("./Images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.legendright /*legende cartes*/
{
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
}

.legendright p
{
	margin-top: 0.5rem;
}

#texte7, #texte8, #texte9
{
    width: 9rem;
	height: 5.25rem;
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
}

#box10 i, #box11 i, #box12 i
{
	display: inline-flex;
	flex-wrap: nowrap;
	font-size: 0.75rem;
	margin-top: 1rem;
	color: #0065FC;
}

#box11 i:nth-child(5) , #box12 i:nth-child(5)
{
	color: #F2F2F2;
}

                                       /*SECTION ACTIVITE*/

#activities /*container global*/
{
	display: flex;
	flex-wrap: wrap;
	max-width: 90rem;
	justify-content: space-between;
}

#image10, #image11, #image12, #image13, #image14, #image15
{
	width: 100%;
	border-radius: 0.9rem 0.9rem 0rem 0.0rem;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image10
{
	background-image: url("./Images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#image11
{
	background-image: url("./Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#image12
{
	background-image: url("./Images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#image13
{
	background-image: url("./Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#image14
{
	background-image: url("./Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#image15
{
	background-image: url("./Images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#image10, #image13
{
	height: 22rem;
}

#image11
{
	height: 11rem;
}

#image12
{
	height: 5rem;
}

#image14
{
	height: 8rem;
}

#image15
{
	height: 9rem;
}

#tab1, #tab2
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

#col1 a, #col3 a
{
	width: 19rem;
	height: 25rem;
	border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#col2, #col4
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#fort a
{
	width: 19rem;
	height: 14rem;
	border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#iles a
{
	width: 19rem;
	height: 8rem;
	border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#dame a
{
	width: 19rem;
	height: 11rem;
	border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#parc a
{
	width: 19rem;
	height: 12rem;
	border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
	box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#texte10, #texte11, #texte12, #texte13, #texte14, #texte15
{
	width: 100%;
	height: 3rem;
	border-radius: 0rem 0rem 0.9rem 0.9rem;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#activities a /*marges cartes*/
{
	margin: 0rem 1.5rem;
}

#activities h1 /*titre*/
{
	display: inline-flex;
    margin: 3rem 0rem 2rem;
    width: 100%;
}

#activities > div a:hover
{
	opacity: 0.8;
}

#activities > div h3 /*legendes*/
{
	margin-left: 1rem;
}


                                            /*FOOTER*/

footer 
{
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	background-color: #F2F2F2;
	margin-top: 2rem;
	min-width: 83rem;

}

footer ul
{
	list-style-type: none;
	width: 18.75rem;
	margin-top: 1rem;	
}

footer li
{
	margin-bottom: 0.6rem;
}

footer a
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

footer a:hover
{
	font-weight: bold;
}


                                       /*RESPONSIVE*/

@media screen and (max-width: 1024px)
{

	/*REGLES GENERALES*/

	h1
	{
		font-size: 1.5rem;
	}

	p
	{
		font-size: 1rem;
	}

	h2
	{
		font-size: 1rem;
	}

	h3
	{
		font-size: 1.1rem;
	}

	h4
	{
		font-size: 1rem;
	}

	/*HEADER*/

	header
	{
		height: 9.375rem;
	}

	header img
	{
		position: absolute;
	}

	#logo
	{
		display: flex;
		align-items: flex-end;
	}

     /*menu navigation*/
	nav
	{
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		height: 6.25rem;
	}

	nav ul
	{
	display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    order: 1;
    position: relative;
	}

	#inscription
	{
		width: 90%;
	}

	#inscription a:hover
    {
	    border-top: none;
    }

	.barreG, .barreD
	{
	    border-bottom: 0.19rem solid #F2F2F2;
	    width: 50%;	
	}

	.barreG:hover, .barreD:hover
	{
		border-bottom: 0.19rem solid #0065FC;
	}

	.barreG a, .barreD a, #inscription a
	{
		font-size: 1rem;
	}

	.barreG a, .barreD a
	{
		display: flex;
		justify-content: center;
		padding-bottom: 0.9rem;
	}

	.barreG a:hover, .barreD a:hover
	{
		border-top: none;
	}

	                             /*SECTION RECHERCHE*/

	#searchwrapper
	{
		margin:0rem;
	}

	#baseline /*titre*/
	{
		padding: 1rem;
	}

	#baseline p
	{
		margin-top: 0.9rem;
	}

	#search /*bouton recherche*/
	{
		position: relative;
		display: flex;
		justify-content: center;
	}

	#search input
	{
		border-right: none;
		border-left: none;
		width: 18rem;
		height: 3.125rem;
		font-size: 1rem;
	}

	#search h4 /*bouton rechercher*/
	{
		display: none;
	}

	#marker i /*icone position*/
	{
		width: 3.75rem;
		height: 3.125rem;
	}

	#searchicon /*icone recherche*/
	{
		display: contents;
	}

	#searchicon i
	{
		display: inline-flex;
	    color: #ffffff;
	    width:3.438rem;
	    height: 3.125rem;
	    font-weight: bold;
	    background-color: #0065FC;
	    border-radius: 0.9rem 0.9rem;
	    align-items: center;
	    justify-content: space-around;
	    cursor: pointer;
	    position: absolute;
	    margin-left: 20rem;
	}

	#searchicon i:hover
	{
		color: #0065FC;
	    background-color: #ffffff;
	    border: 0.06rem #0065FC solid;
	}

	                                    /*FILTRE*/

	#filterwrapper /*container global*/
	{
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	#filter /*container filtres*/
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#titre
	{
		width: 100%;
		height: 1.6rem;
		padding-top: 0.9rem;
	}

	#money, #child, #heart, #dog /*filtres*/
	{
		padding-bottom: 0.9rem;
	}

                                        /*SECTION HEBERGEMENT*/

	#global /*container global*/
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width:100%;
	}

	#accommodation /*container hebergement*/
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
        align-items: center;
        align-content: space-between;
		max-width: 100%;
		background-color: #fff;
		margin-top: 1.875rem;
		order:2;
	}

	#accommodation i
	{
		font-size: 0.9rem;
	}

	#box1, #box8
	{
		width: 100%;
	}

	#box2, #box3, #box4, #box5, #box6, #box7 /*cartes*/
	{
		width: 25rem;
		height: 15rem;
	}

	.legendleft /*marges legende*/
	{
		margin-top: 0.3rem;
	}

	.legendleft p
	{
		margin-top: 0.2rem;
	}

	.stars
	{
		margin-top: 0.2rem;
	}

                                       /*POPULAR*/
	#popular /*conteiner global*/
	{
	    display: flex;
	    flex-flow: row wrap;
	    background-color: #F2F2F2;
	    max-width: 100%;
	    border-radius: 0rem;
	    order: 1;
	}

	#box9 /*titre*/
	{
		width: 100%;
	}

	#box9 i
    {
	font-size: 1.5rem;
    }

	#box10, #box11, #box12 /*cartes*/
	{
		width: 25rem;
		height: 10rem;
	}

	.legendright /*legende*/
	{
		width: 50%;
	}

	#box10 i, #box11 i, #box12 i
	{
		font-size: 0.9rem;
	}

	#popular a
	{
		width: 28rem;
	}

	#texte7, #texte8, #texte9
	{
		width: 100%;
	}

	                                /*SECTION ACTIVITE*/

	#activities /*container global*/
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width:100%;
	}

	#tab1, #tab2
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: space-between;
		width: 100%;
	}

	#col1, #col2, #col3, #col4
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: space-between;
	}

	#activities h1
	{
		width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 2rem;
	}

	#activities a
	{
		width: 25rem;
		height: 15rem;
		margin: 1.5rem 0rem;
	}

	#image10, #image11, #image12, #image13, #image14, #image15
	{
		height: 11rem;
	} 

	#texte10, #texte11, #texte12, #texte13, #texte14, #texte15
	{
		height: 4rem;
	}

	/*FOOTER*/

	footer
	{
		min-width: 100%;
	}

	footer a
	{
		font-size: 1rem;
	}
  	
}

	